!!! 5
%html(lang="en-US")
  %head
    %title MyFLiX - MyFLiX Account Suspended
    %meta(charset="UTF-8")
  %body
    %header
      %h4 Hello, #{@user.full_name}.
    %p Your credit card failed was declined.
    %p Your account has been suspended.
    %hr(style="margin-top: 2em;")
    %footer
      %p &copy 2014 MyFLiX
