!!! 5
%html(lang="en-US")
  %head
    %title MyFLiX - MyFLiX Account Deactivated
    %meta(charset="UTF-8")
  %body
    %header
      %h4 Hello, #{@user.full_name}.
    %p Your credit card was declined. Your account has been temporarily suspended.
    %p Please reply to this email or contact customer service to reactivate.
    %hr(style="margin-top: 2em;")
    %footer
      %p &copy 2014 MyFLiX
