---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_YpTKVa3jAA45WGfOuoA9VvD5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103g982ZsJylVlgJu3zFb0hQ",
          "livemode": false,
          "created": 1395009317,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103g982ZsJylVlgJCMB3XEbz",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 4,
            "exp_year": 2015,
            "fingerprint": "kiMCSaHezC1MyJis",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Sun, 16 Mar 2014 22:35:18 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&currency=usd&card=tok_103g982ZsJylVlgJu3zFb0hQ&description=test
    headers:
      Authorization:
      - Bearer sk_test_YpTKVa3jAA45WGfOuoA9VvD5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103g982ZsJylVlgJjgL5f6pb",
          "object": "charge",
          "created": 1395009318,
          "livemode": false,
          "paid": true,
          "amount": 100,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103g982ZsJylVlgJCMB3XEbz",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 4,
            "exp_year": 2015,
            "fingerprint": "kiMCSaHezC1MyJis",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103g982ZsJylVlgJ2Ln7kets",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "test",
          "dispute": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Sun, 16 Mar 2014 22:35:19 GMT
recorded_with: VCR 2.8.0
