---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103lrU2ZsJylVlgJEZZa7SwV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_YpTKVa3jAA45WGfOuoA9VvD5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103lrU2ZsJylVlgJEZZa7SwV",
          "created": 1396327505,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_103lrU2ZsJylVlgJcqNMCnvF",
              "object": "charge",
              "created": 1396327505,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103lrU2ZsJylVlgJBRtd5fO2",
                "object": "card",
                "last4": "0341",
                "type": "Visa",
                "exp_month": 3,
                "exp_year": 2015,
                "fingerprint": "9TswyKvBpXvO4ZB0",
                "customer": "cus_3lqTIcE69RVoB9",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": false,
              "refunds": [],
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_3lqTIcE69RVoB9",
              "invoice": null,
              "description": "",
              "dispute": null,
              "metadata": {},
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_3lrUXl0Y5HgdLq"
        }
  recorded_at: Fri, 04 Apr 2014 04:17:16 GMT
recorded_with: VCR 2.9.0
