---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_3ngLzXztv1omPi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_YpTKVa3jAA45WGfOuoA9VvD5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1396747308,
          "id": "cus_3ngLzXztv1omPi",
          "livemode": false,
          "description": null,
          "email": "hello2@leeduan.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3ngLzXztv1omPi/subscriptions",
            "data": [
              {
                "id": "sub_3ngLSJMNvpBmVL",
                "plan": {
                  "interval": "month",
                  "name": "Monthly Premium",
                  "created": 1395893965,
                  "amount": 999,
                  "currency": "usd",
                  "id": "5BimqrVQFoebM4eLi_ATcA",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "Monthly MyFLiX"
                },
                "object": "subscription",
                "start": 1396747309,
                "status": "active",
                "customer": "cus_3ngLzXztv1omPi",
                "cancel_at_period_end": false,
                "current_period_start": 1396747309,
                "current_period_end": 1399339309,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ],
            "count": 1
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3ngLzXztv1omPi/cards",
            "data": [
              {
                "id": "card_103ngL2ZsJylVlgJ7gtUEdmq",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 4,
                "exp_year": 2014,
                "fingerprint": "kiMCSaHezC1MyJis",
                "customer": "cus_3ngLzXztv1omPi",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ],
            "count": 1
          },
          "default_card": "card_103ngL2ZsJylVlgJ7gtUEdmq"
        }
  recorded_at: Sun, 06 Apr 2014 19:54:03 GMT
recorded_with: VCR 2.9.0
