---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103l6B2ZsJylVlgJpEEjyhWa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_YpTKVa3jAA45WGfOuoA9VvD5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103l6B2ZsJylVlgJpEEjyhWa",
          "created": 1396151497,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_103l6B2ZsJylVlgJNBMBQrfm",
              "object": "charge",
              "created": 1396151496,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103l6B2ZsJylVlgJ7y67uAog",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 3,
                "exp_year": 2014,
                "fingerprint": "kiMCSaHezC1MyJis",
                "customer": "cus_3l6BAd97mcFJ0G",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_103l6B2ZsJylVlgJva011TyO",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_3l6BAd97mcFJ0G",
              "invoice": "in_103l6B2ZsJylVlgJYKDW8Fqz",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": "Monthly MyFLiX"
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_3l6BKbMvzMDb4s"
        }
  recorded_at: Sun, 30 Mar 2014 03:56:50 GMT
recorded_with: VCR 2.8.0
