---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103hjM2ZsJylVlgJdSsKP3bN&description=Sign%20up%20charge%20for%20hello%40leeduan.com
    headers:
      Authorization:
      - Bearer sk_test_YpTKVa3jAA45WGfOuoA9VvD5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's expiration date is incorrect.",
            "type": "card_error",
            "param": "exp_month",
            "code": "expired_card",
            "charge": "ch_103hjM2ZsJylVlgJCNlKia82"
          }
        }
  recorded_at: Fri, 21 Mar 2014 04:05:20 GMT
recorded_with: VCR 2.8.0
