---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103hjM2ZsJylVlgJBY0cWOSu&description=Sign%20up%20charge%20for%20hello%40leeduan.com
    headers:
      Authorization:
      - Bearer sk_test_YpTKVa3jAA45WGfOuoA9VvD5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103hjM2ZsJylVlgJ4j7lOuO7",
          "object": "charge",
          "created": 1395374716,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103hjM2ZsJylVlgJlQywWVJ7",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2014,
            "fingerprint": "kiMCSaHezC1MyJis",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103hjM2ZsJylVlgJ3KXw9BvK",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for hello@leeduan.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Fri, 21 Mar 2014 04:05:19 GMT
recorded_with: VCR 2.8.0
