---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103kMT2ZsJylVlgJQlcopwbg
    headers:
      Authorization:
      - Bearer sk_test_YpTKVa3jAA45WGfOuoA9VvD5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's expiration date is incorrect.",
            "type": "card_error",
            "param": "exp_month",
            "code": "expired_card"
          }
        }
  recorded_at: Fri, 28 Mar 2014 04:37:26 GMT
recorded_with: VCR 2.8.0
