form
  header
    h1 + p
      margin-top: 0.5em
  .form-group
    input[type=submit] + a
      padding-left: 15px
#new_user
  input[type=submit]
    @media screen and (min-width: 768px) and (max-width: 991px)
      margin-left: 10px
    @media screen and (min-width: 992px)
      margin-left: 8px
