---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_YpTKVa3jAA45WGfOuoA9VvD5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103kMI2ZsJylVlgJwI46eYi0",
          "livemode": false,
          "created": 1395980839,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103kMI2ZsJylVlgJ3OUdiq3v",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 4,
            "exp_year": 2015,
            "fingerprint": "kiMCSaHezC1MyJis",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Fri, 28 Mar 2014 04:27:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103kMI2ZsJylVlgJwI46eYi0
    headers:
      Authorization:
      - Bearer sk_test_YpTKVa3jAA45WGfOuoA9VvD5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1395980839,
          "id": "cus_3kMIbgLVirkxrj",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_3kMIbgLVirkxrj/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3kMIbgLVirkxrj/cards",
            "data": [
              {
                "id": "card_103kMI2ZsJylVlgJ3OUdiq3v",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 4,
                "exp_year": 2015,
                "fingerprint": "kiMCSaHezC1MyJis",
                "customer": "cus_3kMIbgLVirkxrj",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ],
            "count": 1
          },
          "default_card": "card_103kMI2ZsJylVlgJ3OUdiq3v"
        }
  recorded_at: Fri, 28 Mar 2014 04:27:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_3kMIbgLVirkxrj/subscriptions
    body:
      encoding: US-ASCII
      string: plan=5BimqrVQFoebM4eLi_ATcA
    headers:
      Authorization:
      - Bearer sk_test_YpTKVa3jAA45WGfOuoA9VvD5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_3kMJZDJLS5vNqy",
          "plan": {
            "interval": "month",
            "name": "monthly-subscription",
            "created": 1395893965,
            "amount": 999,
            "currency": "usd",
            "id": "5BimqrVQFoebM4eLi_ATcA",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": "Monthly MyFLiX"
          },
          "object": "subscription",
          "start": 1395980840,
          "status": "active",
          "customer": "cus_3kMIbgLVirkxrj",
          "cancel_at_period_end": false,
          "current_period_start": 1395980840,
          "current_period_end": 1398659240,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null
        }
  recorded_at: Fri, 28 Mar 2014 04:27:22 GMT
recorded_with: VCR 2.8.0
