---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=5&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_YpTKVa3jAA45WGfOuoA9VvD5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103nyZ2ZsJylVlgJxnbUbThd",
          "livemode": false,
          "created": 1396815091,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103nyZ2ZsJylVlgJsmTTa6e4",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 5,
            "exp_year": 2015,
            "fingerprint": "kiMCSaHezC1MyJis",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Sun, 06 Apr 2014 20:11:31 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=kiara%40harber.info&card=tok_103nyZ2ZsJylVlgJxnbUbThd&plan=5BimqrVQFoebM4eLi_ATcA
    headers:
      Authorization:
      - Bearer sk_test_YpTKVa3jAA45WGfOuoA9VvD5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1396815091,
          "id": "cus_3nyZQIBWFJHmCf",
          "livemode": false,
          "description": null,
          "email": "kiara@harber.info",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3nyZQIBWFJHmCf/subscriptions",
            "data": [
              {
                "id": "sub_3nyZ5DgRXHUmpi",
                "plan": {
                  "interval": "month",
                  "name": "Monthly Premium",
                  "created": 1395893965,
                  "amount": 999,
                  "currency": "usd",
                  "id": "5BimqrVQFoebM4eLi_ATcA",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "Monthly MyFLiX"
                },
                "object": "subscription",
                "start": 1396815091,
                "status": "active",
                "customer": "cus_3nyZQIBWFJHmCf",
                "cancel_at_period_end": false,
                "current_period_start": 1396815091,
                "current_period_end": 1399407091,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ],
            "count": 1
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3nyZQIBWFJHmCf/cards",
            "data": [
              {
                "id": "card_103nyZ2ZsJylVlgJsmTTa6e4",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 5,
                "exp_year": 2015,
                "fingerprint": "kiMCSaHezC1MyJis",
                "customer": "cus_3nyZQIBWFJHmCf",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ],
            "count": 1
          },
          "default_card": "card_103nyZ2ZsJylVlgJsmTTa6e4"
        }
  recorded_at: Sun, 06 Apr 2014 20:11:31 GMT
recorded_with: VCR 2.9.0
