---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/invalid-user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_YpTKVa3jAA45WGfOuoA9VvD5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such customer: invalid-user",
            "param": "id"
          }
        }
  recorded_at: Sun, 06 Apr 2014 19:54:03 GMT
recorded_with: VCR 2.9.0
